/*variables*/
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
  --font-serif: "DM Serif Display", serif;
  --font-karla: "Karla", sans-serif;
  --font-color: #ffffff;
}
/*
.neutral {
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-size: 16px;
}

nav {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}

ul {
    display: none;
}

ul li {
    text-decoration: none;
    list-style: none;
}

ul li a{
  display: none;
}

header {
    background-color: var(--dark-violet);
    color: var(--font-color);
    text-align: center;
    height: auto;
}

header img {
    width: 100%;
    height: auto;
}

.information {
    padding: 1rem;
    background-image: url(./images//bg-pattern-intro-left-mobile.svg), url(./images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.information h1 {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 40px;
    padding: 4rem 0 1rem;
}

.information p {
    font-family: var(--font-karla);
    line-height: 1.5rem;
}

.information button {
    margin: 2rem 0 4rem;
    width: 144px;
    height: 49px;
    letter-spacing: 0.1rem;
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid white;
}