/*variables*/
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
  --font-serif: "DM Serif Display", serif;
  --font-karla: "Karla", sans-serif;
  --font-color: #ffffff;
}
/*
.neutral {
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/*--------nav---------*/
nav {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}

.menu-img {
  background-image: url(/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 32px;
  height: 32px;
}

.active {
  position: absolute;
  display: none;
  text-align: center;
  z-index: 1;
  margin: 0 -1.5rem 0;
  width: calc(100%);
  list-style-type: none;
  top: 4rem;
  padding: 1.5rem 0;
  height: calc(100% - 6.5rem);
  background-color: var(--very-dark-violet);
  background-image: url(/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

ul li {
  text-transform: uppercase;
  font-size: 20px;
  padding: 1rem 0;
  font-family: var(--font-karla);
  height: calc(55px - 32px);
}

/*ul li:hover {
  border: 1px solid white;
  margin: 0 20px;
  padding: calc(1rem - 1px) 0;
}*/

.liHover {
  border: 1px solid white;
  margin: 0 20px;
  padding: calc(1rem - 1px) 0;
}

ul li a {
  text-decoration: none;
  color: var(--font-color);
}

/*--------header---------*/
header {
  background-color: var(--dark-violet);
  color: var(--font-color);
  text-align: center;
  position: relative;
}

.family-intro {
  background-image: url(/images/image-intro-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 451px;
}

.information {
  padding: 1rem;
  background-image: url(/images//bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

.information h1 {
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 40px;
  padding: 4rem 0 1rem;
}

.information hr {
  display: none;
}

.information p {
  font-family: var(--font-karla);
  line-height: 1.5rem;
}

.information button {
  margin: 2rem 0 5rem;
  width: 144px;
  height: 36px;
  letter-spacing: 0.1rem;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid white;
}

.intro__backgrounds {
  background-image: url(/images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80%;
}

/*--------section---------*/
section {
  margin: 8rem 0 0 0;
  text-align: center;
}

section hr {
  border-top: 1px solid var(--very-light-gray);
  width: 50%;
  margin: 0 auto;
}

section h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.card {
  width: 90%;
  margin: 2rem auto;
}

.card h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: var(--font-serif);
  font-weight: 340;
}

.card p {
  color: var(--dark-grayish-violet);
  margin-bottom: 4rem;
  font-family: var(--font-karla);
}

/*--------advertisment---------*/
.ad {
  background-color: var(--dark-violet);
  color: var(--font-color);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.ad h2 {
  padding: 3rem 1rem 1rem;
  font-family: var(--font-serif);
  font-weight: 300;
  font-size: 2.5rem;
}

.ad button {
  margin: 2rem 0 2rem;
  width: 144px;
  height: 36px;
  letter-spacing: 0.1rem;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid var(--font-color);
}

/*--------footer---------*/
footer {
  margin-top: 6rem;
  background-color: var(--very-light-gray);
  background-image: url(/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--dark-grayish-violet);
  margin: 2rem auto 2rem;
  width: 90%;
}

.social-media img {
  margin-top: 5rem;
}

.social-media a img {
  margin: 1.5rem 0.2rem 2.5rem;
}

footer h3,
footer p {
  text-align: center;
  font-family: var(--font-karla);
}

footer h3 {
  margin: 2rem;
  color: var(--dark-grayish-violet);
}

footer p {
  margin: 0.6rem;
  font-weight: 600;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 376px) and (max-width: 768px) {
  .family-intro {
    background-image: url(/images/image-intro-desktop.jpg);
    width: 100%;
    position: relative;
    height: 521px;
  }
  .active {
    background-image: url(/images/bg-pattern-mobile-nav.svg);
    background-size: 100%;
  }
  header {
    position: relative;
  }
  .intro__backgrounds {
    position: absolute;
    top: 80%;
  }
  /*--------footer---------*/
  footer {
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    background-size: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) /*and (max-width: 992px) */ {
  /*-------nav-------*/
  nav {
    flex-direction: row;
  }

  .menu-img {
    display: none;
  }

  .active {
    position: relative;
    display: flex !important;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    background-image: none;
    top: 0;
  }

  ul li {
    padding: 0 1rem;
  }

  ul li a {
    color: var(--dark-grayish-violet);
  }

  /*-------header-------*/
  header {
    background-color: var(--dark-violet);
    color: var(--font-color);
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: row;
    background-image: url(/images//bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 35%;
  }

  .family-intro {
    background-image: none; /*url(/images/image-intro-desktop.jpg);*/
    width: 40%;
    height: auto;
    top: 20%;
    right: 2%;
  }

  .information {
    padding: 1rem 4rem;
    margin-left: 3rem;
    background-image: none;
    width: 40%;
  }

  .information h1 {
    margin: 0rem 0 1rem;
    padding: 1rem 0 0;
  }

  .information hr {
    margin: 3rem 0 1rem;
    width: 25%;
    display: block;
    border-color: var(--dark-grayish-violet);
  }

  .intro__backgrounds {
    background-image: url(/images/bg-pattern-intro-left-desktop.svg);
    background-position: left;
    background-size: 15%;
    position: absolute;
    height: 640px;
    top: 50%;
  }

  /*--------footer---------*/
  footer {
    background-image: url(/images/bg-pattern-footer-desktop.svg);
  }

  .social-media {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .social-media img {
    margin: 3rem 0;
  }

  .social-media a img {
    margin: 3rem 0.2rem 3rem;
  }

  .footer-span {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  footer h3,
  footer p {
    text-align: left;
  }

  footer h3 {
    margin: 0.6rem 0 1.6rem;
    color: var(--dark-grayish-violet);
  }

  footer p {
    margin: 0.6rem 0;
    font-weight: 600;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*-------header-------*/
  .family-intro {
    width: 40%;
    top: 15%;
  }

  .information {
    padding: 1rem 4rem;
    margin-left: 3rem;
    background-image: none;
    width: 40%;
  }

  .information h1 {
    margin: 0rem 0 1rem;
    padding: 1rem 0 0;
  }

  .information hr {
    margin: 3rem 0 1rem;
    width: 25%;
  }

  .intro__backgrounds {
    background-image: url(/images/bg-pattern-intro-left-desktop.svg);
    background-position: left;
    background-size: 15%;
    position: absolute;
    height: 640px;
    top: 45%;
  }

  /*--------section---------*/
  section {
    margin: 14rem 4rem 0 4rem;
    text-align: left;
  }

  section span {
    display: flex;
  }

  section hr {
    width: 15%;
    margin: 0;
    margin: 0 1rem;
  }

  section h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0 1rem;
  }

  .card {
    margin: 1rem 0;
    padding: 0 1rem;
  }

  /*--------advertisment---------*/
  .ad {
    text-align: left;
    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }

  .ad h2 {
    padding: 4rem 1rem 4rem 5rem;
    width: 40%;
  }

  .ad button {
    margin: 2rem 5rem 2rem 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /*-------header-------*/
  .family-intro {
    width: 35%;
    right: 8%;
  }
}

/* 1440px and up */
@media only screen and (min-width: 1440px) {
  /*-------nav-------*/
  nav {
    width: 1440px;
    margin: 1rem auto;
  }

  /*-------header-------*/
  header {
    height: 650px;
    background-size: 22%;
  }

  header span {
    width: 1440px;
    margin: 1rem auto;
  }

  .family-intro {
    width: 30%;
    top: 15%;
    right: 13%;
  }

  .information {
    padding: 0;
    margin-left: 0;
    background-image: none;
    width: 40%;
  }

  .information h1 {
    margin: 0rem 0 1rem;
    padding: 1rem 0 0;
    font-size: 4rem;
  }

  .information hr {
    margin: 3rem 0 1rem;
    width: 25%;
  }

  .intro__backgrounds {
    background-image: url(/images/bg-pattern-intro-left-desktop.svg);
    background-position: left;
    background-size: 10%;
    position: absolute;
    height: 640px;
    top: 45%;
  }

  /*--------section---------*/
  section {
    margin: 20rem auto 6rem;
    width: 1440px;
  }

  /*--------advertisment---------*/
  .ad {
    margin: 4rem auto 12rem;
    width: 1440px;
  }

  /*--------footer---------*/
  footer {
    padding: 0 0 4rem;
  }

  .social-media {
    margin: 0 auto;
    width: 1440px;
  }

  .footer-span {
    margin: 0 auto;
    width: 1440px;
  }
}
